.collect {
    .container{
        background: $purple;
        border-radius: 10px;
    }
    .title {
        font-size: 50px;
        line-height: 75px;
        font-weight: 700;
        padding-top: 50px;
    }
    .btn{
        margin-top: 20px;
        margin-bottom: 50px;
        background: $glasscolor;
        &:hover{
            background: $gray;
        }
    }
}