$bgcolor: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$purple: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
$gray: rgba(255, 255, 255, 0.5);
$glasscolor: rgba(255, 255, 255, 0.1);
